@use "~@blueprintjs/colors/lib/scss/colors"

#route-jobs-view
  .content
    display: flex
    flex-direction: column
    gap: 20px

    > *
      flex-shrink: 0

    .bp6-section
      background: rgba(colors.$light-gray5, 0.2)

      .bp6-dark &
        background: rgba(colors.$black, 0.2)

    .bp6-section-header

      .bp6-dark &

        &:hover,
        &:active
          background: rgba(colors.$black, 0.1)

    .bp6-collapse-body
      display: flex
      flex-direction: column
      gap: 10px
      padding: 10px

    .bp6-navbar,
    .bp6-navbar-group
      height: 30px

    .bp6-navbar
      box-shadow: none
      background: none
      padding: 0 5px

      .bp6-navbar-group
        gap: 10px

        > span
          opacity: 0.75

      &:hover .bp6-navbar-group > span
        opacity: 1
