@use "~@blueprintjs/colors/lib/scss/colors"
@use "../vars"

.component-nav.bp6-navbar
  > .bp6-navbar-group
    > img.product-icon
      width: 28px
      height: 28px
      margin-right: 10px

    > .bp6-navbar-heading.product-name
      font-size: 18px
      font-weight: 300

      > .version
        font-size: 10px
        font-weight: 400
        top: -1em
        color: vars.$theme-light-primary

        .bp6-dark &
          color: vars.$theme-dark-primary

    > .bp6-input-group
      .bp6-input
        &:not(:hover,:focus)
          box-shadow: none

    > .bp6-button
      span.badge
        margin-left: 5px
        font-size: 11px
        color: vars.$theme-light-primary

        .bp6-dark &
          color: vars.$theme-dark-primary

    > .bp6-button.active
      border-bottom-right-radius: 0
      border-bottom-left-radius: 0
      box-shadow: 0 2px vars.$theme-light-primary

      .bp6-dark &
        box-shadow: 0 2px vars.$theme-dark-primary

      //&:hover:not(.bp6-popover-target)
      //  background: none
      //  cursor: default

// responsive

.component-nav.bp6-navbar
  > .bp6-navbar-group.bp6-align-left
    .bp6-navbar-heading
      @media (max-width: 800px)
        display: none

    .bp6-input-group
      width: 200px

      @media (max-width: 1000px)
        width: 180px

      @media (max-width: 450px)
        width: 130px

  > .bp6-navbar-group.bp6-align-right
    @media (max-width: 950px)
      button
        .bp6-icon:not(:last-child)
          margin: 0 -7px

        .bp6-button-text
          display: none

    @media (max-width: 950px) and (min-width: 600px)
      button:hover
        .bp6-icon:not(:last-child)
          margin: 0 7px 0 0

        .bp6-button-text
          display: block
